html{
  margin: 0;
  padding: 0;
  height:100vh;
  width: 100vw;
  background-color: #222222;
}

.main-google {
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    font-size: 100px; 
    color: rgb(255, 255, 255); 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
  }

/* Adjust the size and style of the search bar */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
  }
  
  .search-input {
    width: 600px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    font-size: 16px; /* Adjust the font size as needed */
    padding: 10px; /* Adjust the padding as needed */
    border: 1px solid rgb(255, 255, 255, 0.3); /* Optional: Add a border for styling */
    border-radius: 25px; /* Optional: Add rounded corners */
    background-color: #222222 ;

  }
  
  .search-button {
    height: 35px; /* Match the height of the input field */
    padding: 10px 15px; /* Adjust the padding as needed */
    background-color: rgb(255, 255, 255,0.08); /* Example button background color */
    color: #ffffff; /* Example button text color */
    border: none;
    border-radius: 4px; /* Optional: Add rounded corners */
    cursor: pointer;
    margin-top: 90px;
    margin-right: 5px;
    justify-items: center;
  }
  
  /* Optional: Add styles for hover and focus states */
  .search-input:hover, .search-input:focus  {
    border-color: #2c2c2c ;
    background-color: rgb(255, 255, 255, 0.1);
  }
  
  .search-button:hover, .search-button:focus {
    border: 1px solid rgb(255, 255, 255, 0.3);
  }
  
  .feeling-lucky-button{
    height: 35px; /* Match the height of the input field */
    padding: 10px 15px; /* Adjust the padding as needed */
    background-color: rgb(255, 255, 255,0.08); /* Example button background color */
    color: #fff; /* Example button text color */
    border: none;
    border-radius: 4px; /* Optional: Add rounded corners */
    cursor: pointer;
    margin-top: 90px;
    margin-left: 5px;
    justify-items: center;
  }
  
  .feeling-lucky-button:hover {
    border: 1px solid rgb(255, 255, 255, 0.3);
  }


.navigation{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content:right;
  margin-bottom: 1rem;
  font-size: 15px;
}

nav ul.navigation li {
  margin: 0 0.2rem;
}

nav ul.navigation li a {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  position:relative;
  padding: 10px;
}

nav ul.navigation li a:hover {
  text-decoration: underline;
}

p.languages{
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 35px;
  font-size: small;
  letter-spacing: 0.6px;
}

.links-langs{
  color:rgb(81, 140, 250);
  text-decoration: none;
  letter-spacing: 0.4px;
}

.links-langs:hover{
  text-decoration:underline;
}


.footer-left{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content:left;
  margin-bottom: 1rem;
  font-size: 15px;
}

nav ul.footer-left li {
  margin: 0 0.2rem;
}

nav ul.footer-left li a {
  font-family: Arial, Helvetica, sans-serif;
  color: #979797;
  text-decoration: none;
  position:relative;
  padding: 10px;
}

nav ul.footer-left li a:hover {
  text-decoration: underline;
}



.footer-right{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: right;
  margin-bottom: 1rem;
  font-size: 15px;
}

nav ul.footer-right li {
  margin: 0 0.2rem;
}

nav ul.footer-right li a {
  font-family: Arial, Helvetica, sans-serif;
  color: #979797;
  text-decoration: none;
  position:relative;
  padding: 10px;
}

nav ul.footer-right li a:hover {
  text-decoration: underline;
}



.left-footer{
  margin-top: px;
  margin-right: -7px;
  margin-left: -7px;
  padding: 3px 0px 3px 0px;
  position:relative;
  background-color: rgb(0, 0, 0, 0.7);
}

.right-footer{
  position:relative;
  margin-top: -103px;
}

.country-footer{
  list-style: none;
  display: flex;
  justify-content: left;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #979797;
  text-decoration: none;
  position:relative;
  padding: 0 5px 5px 5px;
  background-color: rgb(0, 0, 0, 0.7);
  margin-top: 157px;
  margin-right: -7px;
  margin-left: -7px;
  margin-bottom: -2px;
}

#audio-search-button{
  background-color: #222222;
  border: none;
  padding:2px;
  margin: 2px;
  margin-top: 10px;
}

#audio-search-button-image{
  width: 16px;
  height: 25px;
  margin: 5px;
  margin-top: -20px;
  margin-left: -155px;
}

#audio-search-button:hover{
  cursor: pointer;
}

#image-search-button{
  background-color: #222222;
  border: none;
}

#image-search-button-image{
  width: 30px;
  height: 30px;
  margin: 5px;
  margin-top: 12px;
  margin-left: -105px;
}

#image-search-button:hover{
  cursor: pointer;
}

